@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
}
body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #083644;
  height: 62px;
  width: 100%;
  padding: 0 20px 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body header article i,
body header article a {
  color: white;
  font-size: 20px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
body header article i:hover,
body header article a:hover {
  cursor: pointer;
  color: black;
}
body header article a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}
body main {
  padding: 15px 20px 10px 20px;
}
body main form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 40px;
  border: 1px solid #edeef0;
  border-radius: 4px;
  padding-left: 15px;
  margin-bottom: 10px;
  outline: none;
}
body main form input::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #6c7072;
}
body main form input::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #6c7072;
}
body main form input:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #6c7072;
}
body main form input::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #6c7072;
}
body main form input::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #6c7072;
}
body main form section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
body main form section select {
  font-family: "Poppins", sans-serif;
  color: #6c7072;
  font-size: 16px;
  width: 49%;
  height: 40px;
  border: 1px solid #edeef0;
  border-radius: 4px;
  outline: none;
  padding-left: 10px;
}
body main form select {
  font-family: "Poppins", sans-serif;
  color: #6c7072;
  font-size: 16px;
  width: 100%;
  height: 40px;
  border: 1px solid #edeef0;
  border-radius: 4px;
  outline: none;
  padding-left: 10px;
}
body main form button {
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 45px;
  background-color: #083644;
  border: none;
  border-radius: 4px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
body main form button:hover {
  color: rgba(255, 255, 255, 0.5);
  background-color: #0a475a;
}
body main section {
  margin-top: 18px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
body main section article {
  margin-bottom: 15px;
  position: relative;
}
body main section article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  left: 10px;
}
body main section article div i {
  color: black;
}
body main section article img {
  height: 170px;
  width: 170px;
  border-radius: 8px;
}
body main section article h1,
body main section article h2,
body main section article p,
body main section article span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin: 0;
}
body main section article p {
  color: #738286;
}
body main section article p span {
  color: black;
}
body main section article button {
  width: 170px;
  height: 45px;
  background-color: #083644;
  border: none;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 16px;
}