@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
}
body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #083644;
  height: 62px;
  width: 100%;
  padding: 0 20px 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body header i,
body header a {
  color: white;
  font-size: 20px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
body header i:hover,
body header a:hover {
  color: black;
}
body header a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}