@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
}
body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #083644;
  height: 62px;
  width: 100%;
  padding: 0 20px 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body header article i,
body header article a {
  color: white;
  font-size: 20px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
body header article i:hover,
body header article a:hover {
  color: black;
}
body header article a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}